<p>2021 is here, and we are not ready.</p>

<p>I fully support the Black Lives Matter and Anti-Fascist protests in the US and around the world.</p>

<p>The Public directory is to be used for interesting things that are in the Public Domain. If you have any content that you think I should add to it contact me at the E-Mail listed below.</p>

<ul>
	<li class="layout" ><a href="/min_politik.html">Min Politik</a></li>
	<li class="folder" ><a href="/blog/">Blog</a></li>
	<li class="folder" ><a href="/public/">Public</a></li>
</ul>
